Temp/__EditModeScene
Library/AnnotationManager
Library/assetDatabase3
Library/AssetServerCacheV3
Library/AssetImportState
Library/AssetVersioning.db
Library/BuildSettings.asset
Library/CurrentLayout.dwlt
Library/EditorUserSettings.asset